.backgroundOz {
    background-image: url('/images/ozBackground.jpg');
    background-size: cover;
}

/* bron animatie= https://youtu.be/HZHHBwzmJLk?si=e9BaZJNVnAqgi8uu*/
.ball8{
    position: absolute;
    top: 12.2%;
    left: -0.05%;
    transform: translate(-10%, -50%);
    animation: ball8 4s;
    animation-iteration-count: infinite;
}

@keyframes ball8 {
    from {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.move-right {
    animation: moveRight 1s forwards; 
  }
  
  @keyframes moveRight {
    100% {
      transform: translateX(100%); 
    }
  }

#ball {
    position: absolute;
    top: 55%;
    left: 4%;
    transform: translate(-10%, -50%);
}

#wizard {
    position: absolute;
    top: 30%;
    left: 6%;
    width: 30%;
}

#back {
    position: absolute;
    top: 55%;
    left: 4%;
    transform: translate(-10%, -50%);
}

#refresh {
    position: absolute;
    width: 10%;
    top: 0.5em;
    right: 0.5em;
}

#plus {
    position: absolute;
    top: 100%;
    left: 50%;
}

#min {
    position: absolute;
    top: 100%;
    left: 10%;
}

#control {
    position: absolute;
    width: 5%;
    top: 113%;
    left: 40%;
    padding-bottom: 10%;
}

h1 {
    font-family: ringbearer;
    position: absolute;
    top: 8em;
    right: 3em;
}


h2 {
    font-family: Enchanted Land;
    position: absolute;
    color:aquamarine;
    top: 96%;
    right: 66%;
    font-size: 50px;
}

h3 {
    font-family: Enchanted Land;
    color:rgb(99, 192, 161);
    position: absolute;
    top: 109%;
    left: 25%;
    font-size: xx-large;
}

#inputGetal {
    position: absolute;
    top: 115%;
    left: 19%;
    width: 20%;
}

#textInput {
    position: absolute;
    left:37.5%;
    top: 9%;
    width: 25%;
    height: 16%;
    border: 100%;
    border-color: aliceblue;

}

input{
    font-size: x-large;
}